img.recipe-img {
  max-width: 250px;
}

tr:hover {
  background-color: whitesmoke;
  cursor: pointer;
  h1 {
    color: black;
    text-align: center;
   }
   
   p {
    font-family: times;
    font-size: 12px;
   }
}

thead {
  background-color: palevioletred;
}
